:root {
    font-size: calc(1rem + 0.25vw);

    --darker-blue: #060c1f;
    --dark-blue: #0a1931;
    --light-blue: #0f2c4b;
    --white-shade: #ecf0f1;
    --grey-shade: #aaa;

    --rarity-yellow: #8d8b2c;
    --rarity-red: #653232;
    --rarity-pink: #6c297f;
    --rarity-purple: #50248e;
    --rarity-blue: #414e9c;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

header {
    z-index: 2;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 4em;
    top: 0;
    background-color: var(--darker-blue);
    font-family: sans-serif;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    column-gap: 2em;
    flex-grow: 1;
    height: 100%;
}

header li {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 0.75em;
    text-transform: uppercase;
}

header li a {
    text-decoration: none;
    color: var(--white-shade);
}

header li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    background-color: var(--white-shade);
}

header li:hover::after {
    height: 2px;
    width: 100%;
}

header .active::after {
    height: 2px;
    width: 100%;
}

main {
    flex-grow: 1;
    padding: 1em 2em;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
    background-color: var(--darker-blue);
    color: var(--grey-shade);
    font-size: 0.75em;
}

footer p {
    text-align: center;
    width: 85%;
}

@media only screen and (min-width: 1024px) {
    header div, footer p {
        width: 60%;
    }
}
