main {
    background-color: var(--darker-blue);
    color: var(--white-shade);
}

#leaderboard caption {
    line-height: 3em;
}

#leaderboard table {
    width: 100%;
    font-size: 0.75em;
}

#leaderboard th {
    text-align: left;
}

#leaderboard tr {
    cursor: pointer;
    line-height: 2em;
}

#leaderboard tr:nth-child(even), #leaderboard th {
    background-color: var(--dark-blue);
}

#leaderboard tr:hover {
    background-color: var(--light-blue);
}

@media only screen and (min-width: 600px) {
    #leaderboard table {
        font-size: 1em;
    }
}
