main {
    background-color: var(--darker-blue);
    color: var(--white-shade);
}

#user {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    padding: 1em;
    width: 100%;
}

#user aside {
    display: flex;
    flex-direction: column;
    row-gap: 3em;
    min-width: 22%;
    margin-top: 6.5em;
    padding: 1em;
    border-radius: 5px;
    background-color: var(--dark-blue);
    font-size: 0.8em;
}

#user aside span {
    font-size: 1.5em;
}

#user aside article {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#stats {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

#stats > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.5em;
}

#stats div div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5em;
}

#stats h2 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#stats h3 {
    color: var(--grey-shade);
    font-weight: bold;
}

#inventory {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

#inventory nav {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em
}

#inventory nav a {
    color: var(--white-shade);
    text-decoration: none;
}

#inventory nav ul {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
}

#inventory nav .selected {
    background-color: var(--light-blue);
}

#inventory nav li {
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: var(--dark-blue);
}

#inventory nav li:last-of-type {
    background-color: transparent;
}

#inventory nav p {
    font-size: 0.8em;
}

#inventory > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
}

#inventory > ul li {
    position: relative;
    height: 5.5em;
    width: 8em;
    border-radius: 5px;
}

#inventory .sticker {
    width: 7em;
}

#inventory > ul div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 0;
    right: 0;
    padding: 0 0.5em;
    border-radius: 5px;
    transition:
        box-shadow 0.25s,
        background-color 0.25s;
}

#inventory .extendedDiv {
    z-index: 1;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.75);
}

#inventory figure {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
    width: max-content;
}

#inventory figcaption {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    font-size: 0.7em;
}

#inventory .extendedDiv figcaption {
    visibility: visible;
    opacity: 1;
}

#inventory .retractedDiv figcaption {
    display: none;
}

#inventory figure + figcaption {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 0.5em;
    padding-bottom: 0.5em;
}

#inventory figure figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    padding: 0.5em 0;
    text-align: right;
}

#inventory img {
    height: 5.5em;
    width: 7em;
}

#inventory .sticker img {
    width: 6em;
}

#inventory h3 {
    width: max-content;
}

li.rarityYellow, .rarityYellow.extendedDiv {
    background-color: var(--rarity-yellow);
}

li.rarityRed, .rarityRed.extendedDiv {
    background-color: var(--rarity-red);
}

li.rarityPink, .rarityPink.extendedDiv {
    background-color: var(--rarity-pink);
}

li.rarityPurple, .rarityPurple.extendedDiv {
    background-color: var(--rarity-purple);
}

li.rarityBlue, .rarityBlue.extendedDiv {
    background-color: var(--rarity-blue);
}
