#user aside span {
    font-size: 1.5em;
}

#user aside article {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#stats {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

#stats > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.5em;
}

#stats div div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5em;
}

#stats h2 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#stats h3 {
    color: var(--grey-shade);
    font-weight: bold;
}
