    </main>
    <footer>
        <p>DisGo is a community application and is not affiliated with Valve or Steam. Steam, the Steam logo and in-game assets and resources are trademarks of Valve Corporation. All other trademarks are property of their respective owners.</p>
    </footer>
</body>
</html>
